@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nasalization';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Nasalization.woff2') format('woff2'),
       url('/fonts/Nasalization.woff') format('woff'),
       url('/fonts/Nasalization.otf') format('opentype');
}

@layer base {
  body {
    @apply bg-transparent text-foreground overflow-x-hidden;
    scroll-behavior: smooth;
  }
}

.text-glow {
  text-shadow:
    0 0 5px #ffcc00, 
    0 0 10px #ffcc00,
    0 0 20px #ffcc00,
    0 0 40px #ffcc00,
    0 0 80px #ffcc00;
}
